<div><p>input1 works!</p>
<input [value]="num">

<button class="bttn" (click)="sendValue('1')">1</button>
<button class="bttn" (click)="sendValue('2')">2</button>
<button class="bttn" (click)="sendValue('3')">3</button>
<button class="bttn" (click)="sendValue('4')">4</button>
<button class="bttn" (click)="sendValue('5')">5</button>
<button class="bttn" (click)="sendValue('6')">6</button>
<button class="bttn" (click)="sendValue('7')">7</button>
<button class="bttn" (click)="sendValue('8')">8</button>
<button class="bttn" (click)="sendValue('9')">9</button>
<button class="bttn" (click)="sendValue('0')">0</button>
<button class="bttn" (click)="sendValue('+')">+</button>
<button class="bttn" (click)="sendValue('-')">-</button>
<button class="bttn" (click)="sendValue('*')">x</button>
<button class="bttn" (click)="sendValue('/')">/</button>
<button class="bttn" (click)="sendValue('=')">=</button>
<button class="bttn" (click)="sendValue('C')">C</button>



</div>